<h1>{{title}}</h1>
<form #restaurantForm="ngForm" (ngSubmit)="onSubmit()">

<label>Name:</label>
<p>
  <input type="text" #name="ngForm" ngControl="nombre"
    [(ngModel)]="restaurant.nombre" required/>
    <span *ngIf="!name.valid">Name is required</span>
</p>

<label>Address:</label>
<p>
  <input type="text" #address="ngForm" ngControl="direccion"
    [(ngModel)]="restaurant.direccion" required/>
    <span *ngIf="!address.valid">Address is required</span>
</p>

<label>Description:</label>
<p>
  <textarea type="text" #description="ngForm" ngControl="descripcion"
    [(ngModel)]="restaurant.descripcion" required></textarea>
    <span *ngIf="!description.valid">Description is required</span>
</p>

<label>Price:</label>
<p>
  <select (change)="callPrice(price.value)" #price>
    <option value="small" [attr.selected]="restaurant.precio ===
                                        'small'?'selected': null">Small</option>
    <option value="normal" [attr.selected]="restaurant.precio ===
                                      'normal'?'selected': null">Normal</option>
    <option value="height" [attr.selected]="restaurant.precio ===
                                      'height'?'selected': null">Height</option>
  </select>
</p>
<input type="submit" value="{{title}}" [disabled]="!restaurantForm.form.valid"/>
</form>
